@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>@Model.Publication.Title</h1>

            @if (!String.IsNullOrWhiteSpace(Model.Publication.Subtitle))
            {
                <h2>@Model.Publication.Subtitle</h2>
            }

            <div class="type-attributes">
                @foreach (string type in Model.Publication.Types)
                {
                    <p><span class="badge badge-secondary">@type</span></p>
                }
            </div>

            @if (Model.Publication.Authors.Count > 1)
            {
                <h3>Authors</h3>
            }
            else
            {
                <h3>Author</h3>
            }

            @foreach (string author in Model.Publication.Authors)
            {
                <p>@author</p>
            }

            @if (!String.IsNullOrWhiteSpace(Model.Publication.Series))
            {
                <p>Series: @Model.Publication.Series</p>
            }

            @if (!String.IsNullOrWhiteSpace(Model.Publication.Publisher))
            {
                <p>Publisher: @Model.Publication.Publisher</p>
            }

            @if (!String.IsNullOrWhiteSpace(Model.Publication.Imprint))
            {
                <p>Imprint: @Model.Publication.Imprint</p>
            }

            @if (!String.IsNullOrWhiteSpace(Model.Publication.Summary))
            {
                <h3>Summary</h3>
                <p>@Model.Publication.Summary</p>
            }

            <div class="library-attributes">
                <h3>Available Locations</h3>
                @foreach (string location in Model.Publication.Locations)
                {
                    <p>@location</p>
                }

                <h3>Available Services</h3>
                @foreach (string service in Model.Publication.Services)
                {
                    <p>@service</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.CopyTotal))
                {
                    <p>Copy Count: @Model.Publication.CopyTotal</p>
                }
            </div>

            <div class="publication-attributes">
                @if (!String.IsNullOrWhiteSpace(Model.Publication.PageCount))
                {
                    <p>Page Count: @Model.Publication.PageCount</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.Date))
                {
                    <p>Publication Date: @Model.Publication.Date</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.Edition))
                {
                    <p>Edition: @Model.Publication.Edition</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.ISBN))
                {
                    <p>ISBN: @Model.Publication.ISBN</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.Language))
                {
                    <p>Language: @Model.Publication.Language</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.Source))
                {
                    <p>Source: @Model.Publication.Source</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.Subject))
                {
                    <p>Subject: @Model.Publication.Subject</p>
                }

                @if (!String.IsNullOrWhiteSpace(Model.Publication.Weight))
                {
                    <p>Weight: @Model.Publication.Weight</p>
                }
            </div>
        </div>
    </div>
</div>
