@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Item</h1>
            <h2>Title: @Model.Publication.Title</h2>
            <h3>Subtitle: @Model.Publication.Subtitle</h3>

            @foreach (string author in Model.Publication.Authors)
            {
                <p>Author: @author</p>
            }

            <p>Publisher: @Model.Publication.Publisher</p>
            <p>Imprint: @Model.Publication.Imprint</p>
            <p>Series: @Model.Publication.Series</p>

            @foreach (string type in Model.Publication.Types)
            {
                <p>Type: @type</p>
            }

            <p>Summary: @Model.Publication.Summary</p>

            <p>Copy Count: @Model.Publication.CopyTotal</p>
            <p>Page Count: @Model.Publication.PageCount</p>

            <p>Publication Date: @Model.Publication.Date</p>
            <p>Edition: @Model.Publication.Edition</p>
            <p>ISBN: @Model.Publication.ISBN</p>
            <p>Language: @Model.Publication.Language</p>
            <p>Source: @Model.Publication.Source</p>
            <p>Subject: @Model.Publication.Subject</p>

            <p>Weight: @Model.Publication.Weight</p>
        </div>
    </div>
</div>
