@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="publication-header">
                <h1 class="publication-title">
                    @Model.Publication.Title

                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Subtitle))
                    {
                        @Model.Publication.Subtitle
                    }
                </h1>

                <div class="type-attributes">
                    @foreach (string type in Model.Publication.Types)
                    {
                        <p><span class="badge badge-secondary">@type</span></p>
                    }
                </div>
            </div>

            <div class="product-block" id="publication-metadata">
                <div class="stack">
                    @if (Model.Publication.Authors.Count > 1)
                    {
                        <p class="heading">Authors</p>
                    }
                    else
                    {
                        <p class="heading">Author</p>
                    }

                    @for (int index = 0; index < Model.Publication.Authors.Count; index++)
                    {
                        <p>
                            @if (index > 0)
                            {
                                <span>,</span> @Model.Publication.Authors[index]
                            }
                            else
                            {
                                @Model.Publication.Authors[index]
                            }
                        </p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Series))
                    {
                        <p class="heading">Series</p>
                        <p>@Model.Publication.Series</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Publisher))
                    {
                        <p class="heading">Publisher</p>
                        <p>@Model.Publication.Publisher</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Imprint))
                    {
                        <p class="heading">Imprint</p>
                        <p>@Model.Publication.Imprint</p>
                    }
                </div>

                <div class="stack inverse">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Summary))
                    {
                        <p class="heading">Summary</p>
                        <p>@Model.Publication.Summary</p>
                    }
                </div>
            </div>

            <div class="product-block">
                <div class="stack">
                    <p class="heading">Available Locations</p>

                    @for (int index = 0; index < Model.Publication.Locations.Count; index++)
                    {
                        <p>
                            @if (index > 0)
                            {
                                <span>,</span> @Model.Publication.Locations[index]
                            }
                            else
                            {
                                @Model.Publication.Locations[index]
                            }
                        </p>
                    }
                </div>

                <div class="stack">
                    <p class="heading">Available Services</p>

                    @for (int index = 0; index < Model.Publication.Services.Count; index++)
                    {
                        <p>
                            @if (index > 0)
                            {
                                <span>,</span> @Model.Publication.Services[index]
                            }
                            else
                            {
                                @Model.Publication.Services[index]
                            }
                        </p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.CopyTotal))
                    {
                        <p class="heading">Available Copies</p>
                        <p>@Model.Publication.CopyTotal</p>
                    }
                </div>
            </div>

            <div class="product-block">
                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.PageCount))
                    {
                        <p class="heading">Pages (Total)</p>
                        <p>@Model.Publication.PageCount</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Date))
                    {
                        <p class="heading">Publication Date</p>
                        <p>@Model.Publication.Date</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Edition))
                    {
                        <p class="heading">Edition</p>
                        <p>@Model.Publication.Edition</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.ISBN))
                    {
                        <p class="heading">ISBN</p>
                        <p>@Model.Publication.ISBN</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Language))
                    {
                        <p class="heading">Language</p>
                        <p>@Model.Publication.Language</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Source))
                    {
                        <p class="heading">Source</p>
                        <p>@Model.Publication.Source</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Subject))
                    {
                        <p class="heading">Subject</p>
                        <p>@Model.Publication.Subject</p>
                    }
                </div>

                <div class="stack">
                    @if (!String.IsNullOrWhiteSpace(Model.Publication.Weight))
                    {
                        <p class="heading">Weight</p>
                        <p>@Model.Publication.Weight<span>g</span></p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
